# Ignorer les dossiers des semaines
# week1/
# week2/
# week3/
# week4/
# week5/

# Ignorer les fichiers spécifiques
.gitattributes
.env
*.log
node_modules/
package-lock.json
package-lock.json
week5/Day4/package-lock.json
week5/Day4/package.json
week5/Day4/Exercices XP Ninja/Exercice1/ninja-utility/package.json
week5/Day4/Exercices XP Ninja/Exercice2/weather-dashboard/package.json
week5/Day5/Exercices XP/Exercice1/blog-api/package.json
week5/Day5/Exercices XP/Exercice2/book-api/package.json
week5/Day5/Exercices XP/Exercice3/crud-api/package.json 
week5/Day5/Exercices XP Gold/Exercice1/crud-api-intermediate/package.json
week5/Day5/Exercices XP Gold/Exercice2/user-login/package.json
week5/Day5/Exercices XP Gold/Exercice3/package.json
week5/Day5/Challenge/package.json
week5/Day5/Challenge/scores.json
week5/Day5/Exercices XP Ninja/package.json
week6/Day1/Exercices XP/Exercice1/package.json
week6/Day1/Exercices XP/Exercice2/package.json
week6/Day1/Exercices XP/Exercice3/package.json
week6/Day1/Exercices XP Gold/Exercice1/package.json
week6/Day1/Exercices XP Ninja/package.json
week6/Day1/Challenge/package.json
week6/Day2/Exercices XP/Exercice1/blog-api/package.json
week6/Day2/Exercices XP/Exercice2/package.json
week6/Day2/Exercices XP Gold/package.json